<ion-header>
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/cart']">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Seleccionar Categoría</ion-label>
    <ion-select (ionChange)="onCategoryChange($event.detail.value)" value="">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of products">
        <app-card 
          [id]="product.id"
          [title]="product.title" 
          [image]="product.image"
          [category]="product.category"
          (doClick)="onProductClick($event)">
        </app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
